build/
/tags
/bazel-*
/VS/CMakeFiles/3.26.4/*.bin
/VS/x64/Debug/ZERO_CHECK/_IsIncrementalBuild
/VS/yaml-cpp.dir/Debug/_IsIncrementalBuild
/VS/*.cmake
/VS/CMakeFiles/3.26.4/*.cmake
/VS/CMakeFiles/Export/626f869e3950875d38153c438040ad7b/*.cmake
/VS/CMakeFiles/*.cmake
/VS/util/*.cmake
/VS/CMakeFiles/cmake.check_cache
/VS/CMakeFiles
/VS/util/CMakeFiles/*.depend
/VS/Debug/*.exp
/VS/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/*.lastbuildstate
/VS/yaml-cpp.dir/Debug/yaml-cpp shared.tlog/*.lastbuildstate
yaml-cpp.pc
ZERO_CHECK.recipe
yaml-cppd.dll.recipe
YAML_CPP.sln
generate.stamp
*.tlog
Debug
x64
CMakeCache.txt
*.depend
*.bin
CMakeFiles
/test/VS/cmake_install.cmake
/test/VS/prefix/cmake_install.cmake
/test/VS/prefix/CTestTestfile.cmake
/test/VS/prefix/googlemock/cmake_install.cmake
/test/VS/prefix/googlemock/CTestTestfile.cmake
/test/VS/prefix/googletest/cmake_install.cmake
/test/VS/prefix/googletest/CTestTestfile.cmake
/test/VS/prefix/googletest/generated/GTestConfig.cmake
/test/VS/prefix/googletest/generated/GTestConfigVersion.cmake
/test/VS/ALL_BUILD.vcxproj.filters
/test/VS/INSTALL.vcxproj.filters
/test/VS/prefix/ALL_BUILD.vcxproj.filters
/test/VS/prefix/googlemock/ALL_BUILD.vcxproj.filters
/test/VS/prefix/googlemock/INSTALL.vcxproj.filters
/test/VS/prefix/googletest/ALL_BUILD.vcxproj.filters
/test/VS/prefix/googletest/INSTALL.vcxproj.filters
/test/VS/prefix/INSTALL.vcxproj.filters
/test/VS/ZERO_CHECK.vcxproj.filters
/test/VS/prefix/googletest/generated/gmock.pc
/test/VS/prefix/googletest/generated/gmock_main.pc
/test/VS/prefix/googletest/generated/gtest.pc
/test/VS/prefix/googletest/generated/gtest_main.pc
/test/VS/prefix/googlemock/gmock.sln
/test/VS/prefix/googletest/gtest.sln
/test/VS/prefix/googletest-distribution.sln
/test/VS/Project.sln
/test/VS/ALL_BUILD.vcxproj
/test/VS/INSTALL.vcxproj
/test/VS/prefix/ALL_BUILD.vcxproj
/test/VS/prefix/googlemock/ALL_BUILD.vcxproj
/test/VS/prefix/googlemock/INSTALL.vcxproj
/test/VS/prefix/googletest/ALL_BUILD.vcxproj
/test/VS/prefix/googletest/INSTALL.vcxproj
/test/VS/prefix/INSTALL.vcxproj
/test/VS/ZERO_CHECK.vcxproj
